.skills {
    padding-top: 120px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle; 
        &:before {
            top: -7px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper{
        margin-top: 60px;
        padding-inline: 10px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, minmax(270px, auto));
        grid-auto-rows: minmax(270px, auto);
        gap: 13px;
    }
    &__item {
        padding: 30px 30px 25px 30px;
        border: 1px solid black;
        &-img {
            min-height: 65px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }
        &-text {
            margin-top: 15px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }
    }
}