.social {
    position: fixed;
    top: 375px;
    left: -103px;
    display: flex;
    align-items: center;
    gap: 15px;
    transform: rotate(-90deg);
    z-index: 3;
    &__text {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }
    &__line {
        width: 70px;
        height: 2px;
        background-color: #000;
    }
    &__link {
        transform: rotate(90deg);
        transition: 0.5s all;
        &:hover {
            transform: rotate(180deg) scale(1.7);
            svg path {
                fill: $main-color;
            }
        }
    }
}